    <footer class="footer mt-auto py-5 ">
      <div class="container pt-3 text-center">
        <p class="text-body-secondary mt-5 mb-4">
          Created by
          <a class="text-body-secondary" href="https://stefanbohacek.com/">Stefan Bohacek</a>
          with
          <a class="text-body-secondary" href="https://www.11ty.dev/">11ty</a>.
          <a class="text-body-secondary" href="https://github.com/stefanbohacek/pinned-posts-organizer">View source.</a>
        </p>
      </div>
      <div class="footer-logos container">
        <div class="row align-items-center">
          <div class="col-4 mx-auto text-center">
            <p>
              <a href="https://fightfascism.glitch.me/">
                <img
                  class="mw-100"
                  loading="lazy"
                  title="Fight Fascism"
                  alt="A capitalized text 'Fight Fascism' in white letters on a black background."
                  src="/assets/logos/fight-fascism-square.png">
              </a>
            </p>
          </div>
          <div class="col-4 mx-auto text-center">
            <p>
              <a href="https://blacklivesmatter.com/">
                <img
                  class="mw-100"
                  loading="lazy"
                  alt="The text 'Black Lives Matter' with each word on a new line, alternating between black text on white background and
                    white text on black background."
                  title="Black Lives Matter"
                  src="/assets/logos/blm.png">
              </a>
            </p>
          </div>
          <div class="col-4 mx-auto text-center">
            <p>
              <a href="https://indieweb.org/">
                <img
                  class="mw-100"
                  loading="lazy"
                  alt="IndieWebCamp logo that consists of stylized letters IWC and the full IndieWebCamp text below."
                  title="IndieWebCamp"
                  src="/assets/logos/indiewebcamp-black.png">
              </a>
            </p>
          </div>
        </div>
      </div>
      <a
        id="back-to-top"
        class="fixed-bottom btn btn-secondary rounded-bottom-0 d-none pl-0"
        role="button"
        href="#"
        title="Back to Top">
        <svg
          xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" width="1em" height="1em" fill="currentColor">
          <!--! Font Awesome Free 6.4.2  -->
          <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6
            342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
        </svg>
        <small class="fw-bold">Back to top</small>
      </a>
    </footer>